.example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #add-cart-alert{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
}
