.example-card {
    max-width: 600px;
    margin: 30px;
  }
  
  .example-header-image img{
    height: 60px;
  }

  #add-cart-alert{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
}

