#query-field-container{
    text-align: center;
    margin-top: 10px;
}

.loading{
    text-align: center;
}




#custom-dropdown #options{
    text-decoration: none; 
    list-style: none; 
    position: absolute; 
    padding: 0; left: 0; 
    width: 100%; 
    background-color: #836BE0;
    display: none;
}

#custom-dropdown #options li{
    padding: 10px;
}

#custom-dropdown #options li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.book{
    display:inline; 
}

.book img{
    cursor: pointer;
    margin:20px;
}